#a{
    background-color: gray;
    padding:10px;
    width:30%;
}

#b{
    background-color:skyblue;
    padding:10px;
    width:30px;
    
    
    
    
}

#b:hover{
    background-color: red;
    transition:3s;
    color: blue;
    
  
    width:70px;
    
}

#c{
    background-color:greenyellow;
    padding:10px;
    
}

#x{
    text-align: center;
}